/* Add your own CSS! */
body {
  background-color: #ffeec9;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h4 {
  margin-bottom: 0;
}

header {
  height: auto;
  color: darkred;
}

h1 {
  color: rgb(136, 19, 4);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-align: center;
}
